<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="morelinq" version="1.1.1" targetFramework="net4-client" />
  <package id="OxyPlot.Core" version="2014.1.546" targetFramework="net4-client" />
  <package id="OxyPlot.WindowsForms" version="2014.1.546" targetFramework="net4-client" />
</packages>